.content {
    display: block;
    padding: 0;
    text-align: center;
}

main {
    grid-template-areas: "content";
    grid-template-rows: auto;
    grid-template-columns: auto;
}

.advertisement {
    display: none;
}

.content * {
    transition: all 0s;
}

